# Byte-compiled files
__pycache__/

# MacOS
.DS_Store
._.DS_Store

# Cache
log
out
temp*
checkpoints

#CLIP

hicodet/detections/test2015
hicodet/detections/test2015_gt
hicodet/detections/test2015_gt_vitpose
hicodet/detections/test2015_upt
hicodet/detections/test2015_upt_vitpose
hicodet/detections/test2015_vitpose
hicodet/detections/train2015
hicodet/detections/train2015_vitpose 
hicodet/detections/download_checkpoint.sh

hicodet/instances_test2015_vitpose.json
hicodet/instances_train2015_vitpose.json
hicodet/hico_20160224_det

CLIP2